*.iml
.gradle/
.idea/
.kotlin/
local.properties
captures/
.externalNativeBuild/
.cxx/
build/
/*/build/
/*/*/build/
/*/*/*/build/
.DS_Store
*.apk
*.aab
*.ap_
*.dex
*.class
freeline.py
freeline/
freeline_project_description.json
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
lint/reports/
*.jks
*.keystore
